/* Global */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700);
body {
	font-family: 'Source Sans Pro', sans-serif;
	/*background:url(../images/4.jpg) top center no-repeat;*/
	background-size:cover;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #000;
	margin-bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background:#fff;
}
p{
	font-size: 16px;
	line-height: 25px;
	padding-bottom: 15px;
}
::selection {
	background: #559ac3;
	color: #fff;
}
::-moz-selection {
 background: #559ac3; /* Firefox */
 color:#fff;
}
img {
	max-width: 100%;
}
a:link {
	text-decoration: none;
}
a:hover {
	color: #ff6a00;
}
a:visited {
	color: #559ac3;
	text-decoration: none;
}
.fright {
	float: right;
}
.fleft {
	float: left;
}
.overflow_hidden {
	overflow-x: hidden;
}
.clear {
	clear: both;
}
.ie7 body {
	overflow: hidden;
}
ul, li {
	list-style-type: none;
}
.container {
	max-width:1024px;
	position: relative;
	z-index: 2;
}
/*========================================
 			 Header Part
=========================================*/
header{text-align: center;}
.jumbotron{margin-bottom:0;}


/*========================================
 			 Navebar Part
=========================================*/
.navbar{background: #0520a8 !important;}
.navbar ul{float: none; text-align: center;}
.navbar li{color: #fff; font-size: 18px; text-align: center; float: none; display: inline-block;}
.navbar li a{color: #fff; padding-left: 15px; padding-right: 15px;}
.navbar li a:hover{color: #000;}
/*========================================
 			 Home Menu Part
=========================================*/
.home-menu-block{
	padding: 30px 0;
}
.big-menu{
	text-align: center;
	color: #000;
	font-size: 30px;
	display: block;
}
.big-menu i{
	margin-bottom: 10px;
	font-size: 120px;
	color: #000;
}

.error p{color: red; font-size: 20px; text-align: center;}
/*========================================
 			 Form Part
=========================================*/
.p_details{border: 1px solid #000; padding-top: 10px; padding-bottom: 10px; }
.p_details li{font-size: 18px; line-height: 27px;}
.p_details li span{width: 160px; display: inline-block;}
.form_wrap ,#loginForm{max-width:500px; background:#fff; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; margin:5px auto 0; padding-bottom:10px; }
.form_wrap h1{background:#087aef; border-radius:10px 10px 0 0; line-height:55px; font-size:27px; font-family: 'Source Sans Pro'; font-weight:300; color:#fff; text-align:center; margin:0;}
.feedback_form{padding:0 35px;}
.form_wrap form label,label{color:#0464c5; font-family: 'Source Sans Pro'; font-weight:400; font-size:16px; margin-bottom:3px !important; padding-top:5px !important; }
.control-label,.form-horizontal .control-label{display:block !important; text-align:left !important;}
.form_wrap .form-group{/*margin-bottom:5px !important;*/}
.form_wrap form h4{margin:0; color:#000d1a;}
.form_wrap footer{text-align:center;}
.form_wrap footer p{margin-bottom:0; font-size:20px; padding-top:3px;}
.text-danger{display:none; color:#f92900;}
.navbar-nav{margin:0 !important;}

/*Admin page*/
#loginForm{padding:25px;}
#loginForm .control-label{padding-left:0 !important;}
#loginForm .text-danger{display:block;}
#loginForm h2{font-size:22px; text-transform:uppercase; color:#003071; margin:0 0 10px;}
#loginForm .form-group{margin:0 0 5px !important;}
.form-group.add_new{ margin-bottom:0px !important;}
.admin_container{padding:10px 20px; color:#003071;}
.admin_container h3{margin:0 0 5px;}
.admin_container table{margin:10px 0;}
li.active a{background:#e8e8e8; color:#000c1c;}
.view_feedback ,.add_new_enginner{display:block;}
.single_engineer form{padding:0 0 10px;}
.single_engineer h4{margin-bottom:8px;}
.short_detail{margin:0 10px 5px;}
.short_detail li{color:#666;}
.feedback_list{margin-top:8px;}
.search_ticket .form-group{padding-left:0; margin-bottom:2px;}
.time-frame button.btn{margin-bottom: 5px;}
.time-frame button.btn.active{font-weight: bold;}
.hide1{display: none;}
footer{padding: 30px 0;}


/*	Tablet Layout: 768px.
	Gutters: 24px.
	Outer margins: 28px.
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/*a.get_online img ,a.get_online{width:185px;}*/
}

/*	Tablet Layout: 768px.
	Gutters: 24px.
	Outer margins: 28px.
*/
@media only screen and (min-width: 600px) and (max-width: 800px) and (max-height: 1024px){

}
	
/*	Mobile Layout: 320px.
	Gutters: 24px.
	Outer margins: 34px.
*/
@media only screen and (max-width: 767px) and (max-height: 570px) {
	#loginForm .form-group > div{padding-left:0 !important;}
}

/*	Mobile Layout: 320px.
	Height : 533px
	Gutters: 24px.
	Outer margins: 34px.
*/
@media only screen and (max-width: 767px) and (max-height: 533px) {
	#loginForm .form-group > div{padding-left:0 !important;}
}

/*	Mobile Layout: 320px.
	Height : 480px
	Gutters: 24px.
	Outer margins: 34px.
*/
@media only screen and (max-width: 767px) and (max-height: 482px) {
	#loginForm .form-group > div{padding-left:0 !important;}
}

/*	Wide Mobile Layout: 480px.
	Gutters: 24px.
	Outer margins: 22px.
*/
@media only screen and (min-width:1024px){

}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
 */
@media only screen and(-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	#loginForm .form-group > div{padding-left:0 !important;}
}
